.two-list-container{
    display: flex;
    justify-content: space-around;
}
.two-list-container p{

    margin-bottom: 2;
    text-align: center;
    margin-top: 10;
    background-color: #8A2BE2;
    font-size: x-large;
    border-radius: 20vw;
    color: white;
}
.show-posts button{
    border-radius: 20vw;
    width: 20%;
    margin-left: 40%;
    margin-top: 2px;}

.ant-btn:active, .ant-btn.active {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}
.ant-btn:hover, .ant-btn:focus {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}